// Modal styling override

.modal-dialog {
    @include breakpoint(medium) {
        max-width: 650px !important;
        margin: 50px auto !important;
	}

    .modal-body {
        text-align: center;
    }

    @include breakpoint(medium-below) {
        .responsive-image {
            width: 100%;
            height: auto;
        }
	}
}

